__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.mo
*.pyc
env/
venv/
.env
.vscode/
.idea/
.DS_Store
node_modules/
# Byte-compiled / optimized / DLL files
*.so

# Django stuff:
local_settings.py
db.sqlite3
media

# Distribution / packaging
*.egg-info/
dist/
build/

# VS Code
.vscode/

# pyenv
.python-version

# mypy
.mypy_cache/
